<div class="grid-locked grid-squeezed">
  <article>
    <p class="label" id="aboutme-label">about me</p>
    <table>
      <tr>
        <td class="pull-left narrow">
          <div class="me">
          </div>
        </td>
        <td>
          <h4>
            “Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. ”
          </h4>
          <p class="pull-right">
            - Rick Osborne
          </p><br /><br />
          <p class="text-left">
            I truly believe that we live in an amazing time where technology has reached a point in which virtually anyone can build anything they want. Whether it's online financial trading platforms, social apps, games, stores, charities, or quite literally anything else, if it can be dreamed it can be built. For this very reason I've grown to love the fast-paced learning and challenges involved in coding.<br /> <br />

            A quick snippet about me: I'm a self-proclaimed awesome team player and believe the best applications running today are built by groups of individuals with strong coalescence, where constructive criticism and the ability to fail ultimately result in water-tight solutions. I have quickly found that everyone has their own philosophy and approach to coding, giving rise to unique and often ingenious solutions to problems at hand. My philosophy is rather simple:
            <ul class="text-left">
              <br />
              <li>
                Take your time and fully understand business requirements
              </li>
              <li>
                Write concise, functional, and maintainable code that speaks to its meaning, and
              </li>
              <li>
                Test!
              </li>
            </ul>
          </p>
          <br />
          <p class="text-left">
            And finally, while it is fun to write awesome code and work on exciting projects, it's most important to take time and relax with good friends and company. Nothing works better than taking a night off to have a beer with friends.
          </p>
          <br />
          <p class="text-left top-border padding-small">
            Languages: <%= @background[:languages] %>
            <br /><br />
            Frameworks: <%= @background[:frameworks] %>
            <br /><br />
            Database: <%= @background[:database] %>
            <br /><br />
            Testing: <%= @background[:testing] %>
            <br /><br />
            Other: <%= @background[:other] %>
            <br /><br />
            Non-tech Interests: <%= @background[:nonTech] %>
            <br /><br />
          </p>
        </td>
      </tr>
    </table>
  </article>
</div>
